.full-container {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}

.video-wrapper video{
  /* position: absolute; */
  /* width: 100%; */
  /* z-index: 1; */
  height: 100vh;
}

.text-box-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

h1 {
  font-size: 8rem;
  font-weight: 900;
  line-height: 1;
  color: #75aadb;
  background-color: #fff;
  padding: 1rem 2rem;
}

.white {
  color: #fff;
}

.text-box {
  display: inline-block;
  padding: 1rem 3rem;
}

.free {
  color: rgb(0, 150, 180);
  font-size: 12rem;
  font-weight: 900;
  width: 100%;
  --animate-duration: 5s;
}

.schedule p {
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
}

.time {
  font-size: 8rem;
  color: yellow;
}

.something-text {
  display: none;
  text-align: center;
}

.accent-tango {
  font-size: 18rem;
}

.center-text {
  background-color: #4a69bd;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 1.2;
}
.center-text h2 {
  font-size: 13rem;
}
.center-text h3 {
  font-size: 6rem;
}

.red {
  color: rgb(249, 48, 48);
  font-weight: bold;
}

.ice {
  color: #25ccf7;
  font-size: 7rem;
  display: inline-block;
}

.marqueeStyle {
  display: inline-block;
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dd {
  color: #e55039;
  color: #4a69bd;
  color: #60a3bc;
  color: #43bad4;
}


.center-flex{
  display: flex;
  justify-content: center;
}

.timer{
  font-size: 6rem;
  border-radius: 2rem;
  padding: .5rem 1rem;
  position: absolute;
  right: 2vw;
  top: 2rem;
  display: block;
  z-index: 111;
  line-height: 1;
}
.group-technic{
  display: flex;
}

.thumbnail-video{
  width: 10vw;
}

.traning {
  background-color: white;
  border: 1rem solid #25ccf7;
}

.rest{
  background-color: #8ceb66;
}

.technic-cell{
  min-width: 10vh;
  background-color: antiquewhite;
  margin: 0 1rem 1rem;
  text-align: center;
  justify-items: center;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.technic-cell h2{
  text-align: center;
  font-size: 3rem;
  display: block;

}
.now{
  background-color: #43bad4;
}

.next{
  background-color:khaki;
}

.technic-container{
  display: flex;
}
.startbtn{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 111;
  display: block;
  font-size: 2rem;
  background-color: transparent;
  border-radius: 2rem;
  padding: 1rem;
}

.btn { 
  display: block;
  background-color: #43bad4;
  padding: 1rem 2rem;
  margin: 1rem;
  color: #fff;
  font-size: 4rem;
  border-radius: 2rem;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.btn-one{
  background-color: #8eda00;
}
.f-logo{
  width: 10rem;
}

.ytvideobox{
  /* width: 600px; */
}

.videoscroll{
  overflow: scroll;
}

.swiper-pagination-bullet{
  width: 1rem;
  height: 1rem;
}



.top-info-box{
  padding-bottom: 1rem;

}
.curri-cell{
  background-color: lightblue;
  border-radius: 1rem;
  padding: 1rem;
}
.swiper-slide-active .curri-cell{
  background-color: gold;
}
.curriSwiper .swiper-slide {
  display: flex;
  width: fit-content;
  padding: 0 1rem;

}

.mySwiper .swiper-slide {
  display: flex;
  width: fit-content;
}
.title-box{
  display: flex;
}
.title-box h2{
  display: flex;
  align-items: center;
}